<div class="col-sm-8-blog-main">
  <div class="col-md-7">

<h2>
  <strong>Title:</strong>
  <%= @post.title %>
</h2>


<p>
  <%= @post.body %>
</p>

    <!--Start of comment form-->

<% unless current_admin.is_a? Guest Admin %>


<%= link_to fa_icon('pencil-square-o'), edit_post_path(@post) %>
<%= link_to fa_icon('trash'), posts_path %>
  </div>
</div>
